---
link: how-to-add-a-user
title: How to add a user on Linux
desc: useradd - create a new user or update default new user information
order: 1
---

## Add user only
`
    useradd kyit
    done!!!
`

<section>
    <h2>Add user only</h2>

    {% highlight "bash" %}
    useradd kyit
    done!!!
    {% endhighlight %}
</section>

<section>
    <h2>Add user with home directory</h2>

    {% highlight "bash" %}
    useradd -m kyit
    done!!!
    {% endhighlight %}

</section>



