---
link: 'how-to-delete-a-user'
title: How to delete a user on Linux
desc: userdel - delete a user account and related files
order: 2
---

<h2>Delete user only</h2>

{% highlight "bash" %}
userdel kyit
done!!!
{% endhighlight %}


<h2>Delete user and home directory</h2>

{% highlight "bash" %}
userdel -r kyit
done!!!
{% endhighlight %}