---
link: 'how-to-modify-a-user'
title: How to modify a user on Linux
desc: usermod - modify a user account
order: 3
---

<h2>Lock a user's password</h2>

{% highlight "bash" %}
usermod -L kyit
done!!!
{% endhighlight %}


<h2>Unlock a user's password</h2>

{% highlight "bash" %}
usermod -U kyit
done!!!
{% endhighlight %}