{% if page.url !== '/'%}
    <nav>
        
        {% set b = '/' %}

        <a href="{{ b }}">home</a>

        {# {% set bc = page.url
                    .split('/')
                    .filter(x => x)
                    .slice(0, -1) %} #}

        {% for i in breadcrumbs %}

            {% set b = b + i + '/' %}
            
            > <a href="{{ b }}">{{ i }}</a>

        {% endfor %}

    </nav>    
{% endif %}

<h1>{{ zzz }}</h1>