<span>
    <a href="https://linkedin.com">
        {% include 'svg/linkedin.njk' %}
    </a>
    <a href="https://youtube.com" style="margin: 0 .5rem">
        {% include 'svg/youtube.njk' %}
    </a>
    <a href="https://github.com">
        {% include 'svg/github.njk' %}
    </a>
    <a href="https://twitter.com" style="margin: 0 .5rem">
        {% include 'svg/twitter.njk' %}
    </a>
</span>