---js
{
    tags: 't1',
    title: 'Algorithms'
}
---

{% title title %}

<h2>
    What is algorithms?
</h2>
{% highlight "js" %}
algorithms = 'sovle problem in steps'
{% endhighlight %}

<h2>
    Structure vs Algorithms
</h2>
<p>
    structure/architecture is more than algorithms in real project
</p>

<h2>
    What is Big O?
</h2>
<p>
    Big O is a notation for measuring performance & time complexity,
    when need to compare which algorithms is better to solve one problem
</p>
<h2>
    Best to worst
</h2>
<p>
   Constant > Linear > Quadratic > Cubic
</p>
<p>
   O(1) > O(log[n]) > O(n) > O(n2) > O(n3)
</p>

<h2>
    Algorithms blueprint 
</h2>
<ol>
    <li>
        learn the foundation
    </li>
    <li>
        math algorithms
    </li>
    <li>
        recursion & dynamic programming
    </li>
    <li>
        search algorithms
    </li>
    <li>
        sort algorithms
    </li>
    <li>
        space complexity
    </li>
    <li>
        set(array) algorithms
    </li>
</ol>